.mgffw-hidden {
	display: none !important;
}

.mgffw-manage-license-wrap {
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid #e5e5e5;

	h3 {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin-top: 0;
		border-bottom: 2px solid #f5f5f5;
		padding: 10px;
	}

	.mgffw-manage-license {
		padding: 10px;
		display: flex;
		align-items: center;

		div {
			margin-left: 5px;
		}
	}

	.give-field-description {
		padding: 0 0 5px 10px;
		font-style: italic;
	}
}
